<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title -->
    <title>Rohini Hospital - Home </title>
    <!-- main css file  -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- bootsrtap css file  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- favicon  -->
    <link rel="icon" href="/images/new-favicon.png">
    <!-- bootsrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- jquery ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- Login Modal Structure -->
    <div class="modal fade login-modal login_main_modal" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down pop-up-main">
            <div class="modal-content">
                <div class="modal-header login-modal-header">
                    <button type="button" class="btn btn-primary" id="tpa-login">TPA </button>
                    <!-- <button type="button" class="btn btn-primary" id="hospital-login">HOSPITAL </button> -->
                    <button type="button" class="btn btn-primary" id="insurance-com-login">INSURANCE COMPANY </button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="login_modal_form">
                    <div class="modal-body pop-up-body">
                        <input class="form-control form-control-sm mb-3" type="email" id="loginUserId"
                            placeholder="Email " aria-label="User ID" required>
                        <input class="form-control form-control-sm mb-3" type="password" id="loginPassword"
                            placeholder="Password" aria-label="Password" required>

                        <div class="captcha-box mb-3">
                            <label for="captchaInput" class="form-label">Captcha</label>
                            <input class="form-control form-control-sm" type="text" id="captchaInput"
                                placeholder="Enter Captcha" aria-label="Captcha" required>
                            <input class="form-control form-control-sm mt-2" disabled type="text" value="ABCD1234"
                                aria-label="Captcha Value" readonly>
                            <div class="refresh-btn mt-2" style="cursor:pointer;">
                                <span>
                                    <i class="fa-solid fa-arrows-rotate"></i> Refresh Captcha
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="main-login-button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!-- home main header  -->
    <header class="home-main-header">
        <nav class="home-main-nav">
            <div class="nav-leftside">
                <a href="/app.js"> <img src="/images/main-full-logo.png" alt="roheni-logo" class="img-fluid"></a>
            </div>
            <div class="nav-rightside">
                <div class="nav-rightside-ul">
                    <li><button type="button" class="btn btn-primary"><a href="/">Home</a></button></li>
                    <li>

                        <button type="button" class="btn btn-primary"><a href="/about-us">About us </a></button>

                    </li>
                    <li>


                        <button type="button" class="btn btn-primary"> <a href="/contact-us">Contact us </a></button>

                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#loginModal">
                            Login
                        </button>
                    </li>





                </div>
            </div>

            <!-- mobile view bars  -->
            <div class="nav-rightside-for-mobile">
                <i class="bi bi-list" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                    aria-controls="offcanvasTop"> </i>


                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop"
                    aria-labelledby="offcanvasTopLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasTopLabel">
                            <!-- main logo for offcanvas  -->
                            <img src="/images/main-full-logo.png" class="img-fluid" alt="">
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="offcanvas-body-main-ul">
                            <li><a href="index.html">Home </a></li>
                            <li><a href="aboutus.html">About Us </a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                            <!-- <li><a href="#Newriegistor">New Registor with Us </a></li> -->
                            <!-- <li><a href="#How to Registor">How To Registor </a></li> -->
                            <li><a href="#Hospital request" data-bs-toggle="modal"
                                    data-bs-target="#hospitalRequestModal">Hospital Request </a></li>
                        </ul>
                        <ul class="offcanvas-body-main-ul-2">
                            <li>
                                <a href="#login"><button type="button" class="btn btn-outline-primary"
                                        data-bs-toggle="modal" data-bs-target="#loginModal">Login </button></a>
                            </li>
                            <!-- <li><a href="#regit"><button type="button" class="btn btn-outline-primary">Registor Now
                                    </button></a></li> -->
                        </ul>
                        <div class="request-a-call-bk">
                            <button type="button" class="btn btn-outline-primary">Request a Call Back
                                <span><i class="bi bi-telephone"></i></span>
                            </button>
                        </div>
                    </div>
                </div>



            </div>
        </nav>

    </header>

    <!-- marquee tags  -->
    <div class="container-fluid  marqee-main">
        <div class="row align-items-center">
            <div class="col-2 latest-new-img">
                <img src="/images/latest-new--removebg-preview.png" class="img-fluid" width="150" alt="">
            </div>
            <div class="col-10 marquee-box">
                <marquee behavior="" direction="">

                    <span>
                        <img src="/images/new-icon-smal.png" class="img-fluid" width="30" alt="">
                    </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, modi. Nam totam fugit porro
                    at autem aliquid architecto eos molestiae?

                    <span>
                        <img src="/images/new-icon-smal.png" class="img-fluid" width="30" alt="">
                    </span>
                </marquee>
            </div>
        </div>

    </div>
    <!-- home login section -->
    <section class="hero-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 hero-leftside-main">
                    <ul class="hero-leftside-main-ul">
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#insuranceCompanyModal">
                                TPA / Insurance Company Registraion
                            </button>
                        </li>

                        <!-- Insurance/TPA sign up modal -->
                        <div class="modal fade  tpa__ins__modal" id="insuranceCompanyModal" tabindex="-1"
                            aria-labelledby="insuranceCompanyModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="registration_type_main">
                                            <button type="button" class="btn btn-primary" id="tpaButton">TPA Sign
                                                up</button>
                                            <button type="button" class="btn btn-primary" id="insuranceButton">Insurance
                                                Sign up</button>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <!-- TPA Form (Initially visible) -->
                                        <form id="tpaForm" class="active  tpa-form">
                                            <div class="form-floating">
                                                <select class="form-control" id="tpaName" placeholder="Select TPA name">
                                                    <!-- <option value="">Select an TPA</option> -->
                                                    <!-- Dynamic options will be populated here -->
                                                </select>
                                                <label for="tpaName">TPA Name</label>
                                            </div>

                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="tpaContactPerson"
                                                    placeholder="Contact person">
                                                <label for="tpaContactPerson">Contact Person</label>
                                            </div>

                                            <div class="form-floating">
                                                <input type="email" class="form-control" id="tpaEmail"
                                                    placeholder="Enter email ID">
                                                <label for="tpaEmail">Email ID</label>
                                            </div>

                                            <div class="form-floating">
                                                <input type="tel" class="form-control" id="tpaPhone"
                                                    placeholder="Enter phone number">
                                                <label for="tpaPhone">Contact Number</label>
                                            </div>

                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="tpaDepartment"
                                                    placeholder="Enter department">
                                                <label for="tpaDepartment">Department</label>
                                            </div>


                                            <!-- <div class="form-floating">
                                          <input type="text" class="form-control" id="tpaDesignation" placeholder="Enter designation">
                                          <label for="tpaDesignation">Designation</label>
                                        </div> -->

                                            <div class="form-floating">
                                                <input type="password" class="form-control" id="tpaPassword"
                                                    placeholder="Enter password">
                                                <label for="tpaPassword">Password</label>
                                            </div>
                                            <div class="form-floating">
                                                <select class="form-select" aria-label="Default select example"
                                                    id="ExcludeHospitalbyTPA">
                                                    <option value="">Exclude Hospital </option>
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-primary"
                                                id="submitTpaForm">Submit</button>
                                        </form>


                                        <!-- Insurance Company Form (Initially hidden) -->
                                        <form id="insuranceCompanyForm" class="d-none insurance__form__signup">
                                            <div class="form-floating custom-margin">
                                                <select class="form-control" id="insuranceCompanyName"
                                                    placeholder="Select company name">
                                                    <!-- <option value="">Select an Insurance Company</option> -->
                                                    <!-- Dynamic options will be populated here -->
                                                </select>
                                                <label for="insuranceCompanyName">Insurance Company Name</label>
                                            </div>

                                            <div class="form-floating custom-margin">
                                                <input type="text" class="form-control" id="insuranceContactPerson"
                                                    placeholder="Enter contact person">
                                                <label for="insuranceContactPerson">Contact Person</label>
                                            </div>

                                            <div class="form-floating custom-margin">
                                                <input type="email" class="form-control" id="insuranceCompanyEmail"
                                                    placeholder="Enter email ID">
                                                <label for="insuranceCompanyEmail">Email ID</label>
                                            </div>

                                            <div class="form-floating custom-margin">
                                                <input type="tel" class="form-control" id="insuranceCompanyPhone"
                                                    placeholder="Enter phone number">
                                                <label for="insuranceCompanyPhone">Phone Number</label>
                                            </div>

                                            <div class="form-floating custom-margin">
                                                <input type="text" class="form-control" id="insuranceAddress"
                                                    placeholder="Enter address">
                                                <label for="insuranceAddress">Address</label>
                                            </div>

                                            <div class="form-floating custom-margin">
                                                <input type="text" class="form-control" id="insuranceEstablishYear"
                                                    placeholder="Enter year of establishment">
                                                <label for="insuranceEstablishYear">Establish Year</label>
                                            </div>
                                            <div class="form-floating custom-margin">
                                                <input type="password" class="form-control"
                                                    id="insuranceCompanyPassword" placeholder="Password ">
                                                <label for="insuranceEstablishYear">Password </label>
                                            </div>
                                            <div class="form-floating">
                                                <select class="form-select" aria-label="Default select example"
                                                    id="ExcludeHospitalbyInsuranceCompany">
                                                    <option value="">Exclude Hospital </option>
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-primary"
                                                id="submitInsuranceForm">Submit</button>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>



                        <script>
                            // // Show OTP modal on form submit
                            // document.getElementById('submitInsuranceForm').addEventListener('click', function () {
                            //     // Close the insurance modal
                            //     var insuranceModal = new bootstrap.Modal(document.getElementById('insuranceCompanyModal'));
                            //     insuranceModal.hide();

                            //     // Open the OTP verification modal
                            //     var otpModal = new bootstrap.Modal(document.getElementById('otpVerificationModal'));
                            //     otpModal.show();
                            // });

                            // // OTP Verification handler
                            // document.getElementById('verifyOtp').addEventListener('click', function () {
                            //     var otpCode = document.getElementById('otpCode').value;

                            //     if (otpCode === '123456') {  // Placeholder OTP validation logic
                            //         alert('OTP verified successfully!');
                            //         var otpModal = new bootstrap.Modal(document.getElementById('otpVerificationModal'));
                            //         otpModal.hide();
                            //     } else {
                            //         alert('Invalid OTP. Please try again.');
                            //     }
                            // });
                        </script>




                        <li>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#hospitalRequestModal">
                                HOSPITAL REQUEST
                            </button>
                        </li>
                        <!-- hospitla request pop up  -->
                        <div class="modal fade" id="hospitalRequestModal" tabindex="-1"
                            aria-labelledby="hospitalRequestModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="hospitalRequestModalLabel">Hospital Request</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Modal content goes here -->
                                        <form id="hospitalRequestForm">
                                            <!-- Hospital Name Field -->
                                            <div class="mb-1">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="hospitalName"
                                                        placeholder="Enter hospital name">
                                                    <label for="hospitalName">Hospital Name</label>
                                                </div>
                                            </div>

                                            <!-- Contact Person Field -->
                                            <div class="mb-1">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="hospitalContactPerson"
                                                        placeholder="Enter contact person name">
                                                    <label for="hospitalContactPerson">Contact Person</label>
                                                </div>
                                            </div>

                                            <!-- Email ID Field -->
                                            <div class="mb-1">
                                                <div class="form-floating">
                                                    <input type="email" class="form-control" id="hospitalEmail"
                                                        placeholder="Enter email ID">
                                                    <label for="hospitalEmail">Email ID</label>
                                                </div>
                                            </div>
                                            <!-- Password  Field -->
                                            <div class="mb-1">
                                                <div class="form-floating">
                                                    <input type="password" class="form-control"
                                                        id="hospitalEmailPassword" placeholder="">
                                                    <label for="hospitalEmailPassword">Password </label>
                                                </div>
                                            </div>

                                            <!-- Phone Number Field -->
                                            <div class="mb-1">
                                                <div class="form-floating">
                                                    <input type="tel" class="form-control" id="hospitalPhone"
                                                        placeholder="Enter phone number">
                                                    <label for="hospitalPhone">Phone Number</label>
                                                </div>
                                            </div>

                                            <!-- Address Field -->
                                            <div class="mb-1">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="hospitalAddress"
                                                        placeholder="Enter address">
                                                    <label for="hospitalAddress">Address</label>
                                                </div>
                                            </div>

                                            <!-- Inline Pincode, District, and State -->
                                            <div class="row g-2">
                                                <!-- Pincode Field -->
                                                <div class="col-md-4">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="hospitalPincode"
                                                            placeholder="Enter pincode">
                                                        <label for="hospitalPincode">Pincode</label>
                                                    </div>
                                                </div>

                                                <!-- District Field -->
                                                <div class="col-md-4">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="hospitalDistrict"
                                                            placeholder="Enter district">
                                                        <label for="hospitalDistrict">District</label>
                                                    </div>
                                                </div>

                                                <!-- State Dropdown -->
                                                <div class="col-md-4">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="hospitalState"
                                                            aria-label="Select State">
                                                            <option selected>Select State</option>
                                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                            <option value="Maharashtra">Maharashtra</option>
                                                            <option value="Rajasthan">Rajasthan</option>
                                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                                            <!-- Add more state options as needed -->
                                                        </select>
                                                        <label for="hospitalState">State</label>
                                                    </div>
                                                </div>
                                                <!-- Excluded TPA Dropdown -->
                                                <!-- <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="ExcludedTPA"
                                                            aria-label="Select Tpa">
                                                            <option value="">Ex. TPA</option>
                                                        </select>
                                                        <label for="hospitalState">Excluded Tpa</label>
                                                    </div>
                                                </div> -->
                                                <!-- Excluded Insurance Company Dropdown -->
                                                <!-- <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="ExcludedInsuranceCompany"
                                                            aria-label="Select Tpa">
                                                            <option value="">Ex. Insurance Company</option>
                                                        </select>
                                                        <label for="hospitalState">Excluded Insurance company </label>
                                                    </div>
                                                </div> -->
                                            </div>

                                            <!-- Submit Button -->
                                            <button type="submit" class="btn btn-primary mt-2">Submit Request</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ul>
                    <p class="hero-main-txt">
                        Best
                        <span>
                            TPA / INSURANCE
                        </span>provider
                    </p>
                </div>
                <div class="col-md-6 hero-rightside-main">
                    <ul class="hero-rightside-main-ul">
                        <li>
                            <a href="#"><button type="button" class="btn btn-danger customer-service-btn">CUSTOMER
                                    SERVICES</button></a>
                        </li>
                        <li><a href="https://rohini.iib.gov.in/" target="_blank"> <span><i
                                        class="bi bi-arrow-return-right"></i></span> ROHINI ID REGISTRATION /RENEWAL</a>
                        </li>
                        <li><a href="https://rohini.iib.gov.in/HosRenewal?status=p&search=Search" target="_blank">
                                <span><i class="bi bi-arrow-return-right"></i></span> HOSPITAL ROHINI ID STATUS</a></li>
                        <li><a href="https://irdai.gov.in/list-of-general-insurers" target="_blank"> <span><i
                                        class="bi bi-arrow-return-right"></i></span> IRDA APPROVED GENERAL INSURANCE
                                COMOPANY LIST</a></li>
                        <li><a href="https://irdai.gov.in/list-of-tpas" target="_blank">
                                <span>
                                    <i class="bi bi-arrow-return-right"></i>
                                </span> IRDA APPROVED HEALTH INSURANCE TPA LIST</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- main seraching box  -->
    <section class="main-searching-box">
        <div class="container-fluid">
            <div class="row searching-box-main-row justify-content-center">
                <div class="col-12 main-search-box p-0">

                    <label for="hospital-serch">SEARCH EXCLUDED HOSPITAL </label>
                    <span>
                        <span class="input_search_icon"><i class="bi bi-search"></i></span>
                        <input type="text" id="hospital-search"
                            placeholder=" SEARCH HOSPTAL NAME/EMAIL ID/CONTACT NUMBER/DISTRICT/PINCODE/STATE/TPA/INSURANCE ">

                    </span>

                </div>
            </div>

        </div>
        <div class="container-fluid">
            <div class="row main-list-row">
                <div class="col-12 p-0">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" class="serial-no-col">Sr .No </th>
                                <th scope="col" class="main-table-column-heading ">Hospital Name</th>
                                <th scope="col" class="main-table-column-heading">Contact Number</th>
                                <th scope="col" class="main-table-column-heading">Email ID</th>
                                <th scope="col" class="main-table-column-heading">Address</th>
                                <th scope="col" class="main-table-column-heading">Pincode</th>
                                <th scope="col" class="main-table-column-heading">District</th>
                                <th scope="col" class="main-table-column-heading">State</th>
                                <th scope="col" class="main-table-column-heading">Excluded by TPA/Insurance</th>
                            </tr>
                        </thead>
                        <tbody id="hospitalTable">

                            <!-- <tr>
                                <td scope="row">1</td>
                                <td>Rohini Hospital</td>
                                <td>+91-98754862</td>
                                <td>infor@rohinihospital.com</td>
                                <td>Plot 23 New Delhi </td>
                                <td>110086</td>
                                <td>north east</td>
                                <td>new delhi</td>
                                <td>yes</td>
                            </tr> -->

                            <div class="modal fade tpa_ins_home_popup" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Selected Hospital
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="home_tpa_ins_popup">
                                                <div class="ins_main">
                                                    <ul id="insurance-list " class="ins_main_ul">
                                                        <li> Excluded by Insurance company </li>

                                                    </ul>
                                                </div>
                                                <div class="tpa_main">
                                                    <ul id="tpa-list">
                                                        <li> Excluded by TPA</li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn show_all_ex_list">Show all Excluded
                                                List</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row next-or-prev">
                <div class="col-md-6">
                    <ul class="next-or-prev-left-ul">
                        <li> <select class="form-select form-select-sm" aria-label="Small select example">
                                <option>Pages ...</option>
                                <option value="1">5</option>
                                <option value="2">10</option>
                                <option value="3">15</option>
                                <option value="1">20</option>
                                <option value="2">25</option>
                                <option value="3">30</option>
                                <option value="1">35</option>
                                <option value="2">40</option>
                            </select></li>

                        <ul class="pagination" id="pagination">
                            <li><button type="button" class="btn">1</button></li>
                            <li><button type="button" class="btn">2</button></li>
                            <li><button type="button" class="btn">3</button></li>
                            <li><button type="button" class="btn">4</button></li>
                            <li><button type="button" class="btn">5</button></li>
                            <li><button type="button" class="btn">6</button></li>
                            <li><button type="button" class="btn">7</button></li>
                            <li><button type="button" class="btn">8</button></li>
                            <li><button type="button" class="btn">...</button></li>
                            <li><button type="button" class="btn">Next</button></li>
                        </ul>

                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="next-or-prev-right-ul">
                        <li>
                            <button type="button" class="btn "><span>PRE<< </span> </button>
                        </li>
                        <!-- <li><button type="button" class="btn">>>NEXT...</button></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="home-main-footer">
        <div class="footer-main-col ">
            <ul class="footer-main-ul">
                <li><span>E</span>XCLUDED HOSPITAL BY </li>
                <li><span>I</span>NSURANCE</li>
                <li><span>I</span>NFORMATION</li>
                <li><span>B</span>UREAU OF INDIA</li>
            </ul>
        </div>
        <!-- <div class="footer-main-col first-col">
            <img src="/images/footer-1-img.png" class="img-fluid" alt="">
        </div> -->

        <div class="footer-main-col text-center">
            <img src="/images/footer-1-img.png" class="img-fluid" alt="">
            <br>
            <img src="/images/footer-eiib.png" class="img-fluid" alt="">
        </div>
    </footer>
    <!-- copy right line -->
    <div class="copyright-line  text-center">
        <p class="mb-0">© ROHENI COPYRIGHT ALL RIGHTS RESERVED </p>
    </div>

    <!-- bootsrap js file  -->
    <script src="/js/bootsrtap.js"></script>
    <!-- main js file  -->
    <script src="/js/main.js"></script>

    <script>
        // Variable to hold the type of login selected
        let loginType = '';

        // Function to set loginType based on the button clicked
        function setLoginType(type) {
            loginType = type;
            console.log(`Login type selected: ${loginType}`);
        }

        $(document).ready(function () {
            // Add event listeners to the buttons using jQuery
            $('#tpa-login').on('click', function () {
                setLoginType('tpa');
            });

            // $('#hospital-login').on('click', function () {
            //     setLoginType('hospital');
            // });

            $('#insurance-com-login').on('click', function () {
                setLoginType('insuranceCompany');
            });
        });

        $(window).on('load', function () {
            console.log('Page loaded successful');
            loadHospitalsAndExcludedByData();
            fetchInsuranceCompanyNamesData();
            fetchTPANamesData()
        });

        $("#tpaForm").submit((e) => {
            e.preventDefault();
            console.log(`TPA form submitted`);
            registerTPA();
        });

        $("#insuranceCompanyForm").submit((e) => {
            e.preventDefault();
            console.log(`InsuranceCompany form submitted`);
            registerInsuranceCompany();
        });

        $("#hospitalRequestForm").submit((e) => {
            e.preventDefault();
            console.log(`HospitalRequest form submitted`);
            registerHospital();
        });

        // Call the function when you want to fetch the data, e.g., before showing the modal
        // $('#hospitalRequestModal').on('show.bs.modal', function () {
        //     fetchAllTPAsNameId();
        //     fetchAllInsuranceCompaniesNameId();
        // });

        // Call the function when you want to fetch the data, e.g., before showing the modal

        $('#insuranceCompanyModal').on('show.bs.modal', function () {
            fetchAllHospitalsNameId();
        });

        $('#main-login-button').on('click', login);

        $("#hospital-search").change(function () {
            loadHospitalsAndExcludedByData();
        })

        function registerTPA() {
            console.log('Register TPA Btn Clicked');
            var excludedHospitals = $("#ExcludeHospitalbyTPA").val();
            var data = {
                name: $("#tpaName").val(),
                contactPerson: $("#tpaContactPerson").val(),
                email: $("#tpaEmail").val(),
                contactNumber: $("#tpaPhone").val(),
                department: $("#tpaDepartment").val(),
                password: $("#tpaPassword").val(),
                excludedHospitals: excludedHospitals && excludedHospitals.length ? excludedHospitals : [], // Convert to array

            }
            console.log(data);
            $.ajax({
                type: "POST",
                url: "/api/tpa/sign-up",
                dataType: 'JSON',
                data: data,
                success: function success(result) {
                    console.log('result', result);
                    window.alert('TPA signup successful');
                    window.location.href = '/';
                },
                error: function error(error) {
                    console.log(error, 'error');
                    window.alert(`${error.responseJSON.message}`);
                }
            })
        }

        function registerInsuranceCompany() {
            console.log('Register InsuranceCompany Btn Clicked');
            var excludedHospitals = $("#ExcludeHospitalbyInsuranceCompany").val();
            var data = {
                name: $("#insuranceCompanyName").val(),
                contactPerson: $("#insuranceContactPerson").val(),
                email: $("#insuranceCompanyEmail").val(),
                contactNumber: $("#insuranceCompanyPhone").val(),
                address: $("#insuranceAddress").val(),
                establishYear: $("#insuranceEstablishYear").val(),
                password: $("#insuranceCompanyPassword").val(),
                excludedHospitals: excludedHospitals && excludedHospitals.length ? excludedHospitals : [], // Convert to array
            }
            console.log(data);
            $.ajax({
                type: "POST",
                url: "/api/insuranceCompany/sign-up",
                dataType: 'JSON',
                data: data,
                success: function success(result) {
                    console.log('result', result);
                    window.alert('Insurance Company sign-up successful');
                    window.location.href = '/';
                },
                error: function error(error) {
                    console.log(error, 'error');
                    window.alert(`${error.responseJSON.message}`);
                }
            })
        }

        function registerHospital() {
            // var excludedTPAs = $("#ExcludedTPA").val();
            // var excludedInsuranceCompanies = $("#ExcludedInsuranceCompany").val();

            var data = {
                name: $("#hospitalName").val(),
                contactPerson: $("#hospitalContactPerson").val(),
                email: $("#hospitalEmail").val(),
                contactNumber: $("#hospitalPhone").val(),
                address: $("#hospitalAddress").val(),
                pincode: $("#hospitalPincode").val(),
                district: $("#hospitalDistrict").val(),
                state: $("#hospitalState").val(),
                password: $("#hospitalEmailPassword").val(),
                // excludedTPAs: excludedTPAs && excludedTPAs.length ? excludedTPAs : [], // Convert to array
                // excludedInsuranceCompanies: excludedInsuranceCompanies && excludedInsuranceCompanies.length ? excludedInsuranceCompanies : [] // Ensure it's an array
            }
            console.log(data);
            $.ajax({
                type: "POST",
                url: "/api/hospital/sign-up",
                dataType: 'JSON',
                data: data,
                success: function success(result) {
                    console.log('result', result);
                    window.alert('Hospital request sign-up successful');
                    window.location.href = '/';
                },
                error: function error(error) {
                    console.log(error, 'error');
                    window.alert(`${error.responseJSON.message}`);
                }
            })
        }

        function loadHospitalsAndExcludedByData() {
            let search = $('#hospital-search').val();
            $.ajax({
                type: "GET",
                url: "/api/welcome/getAllHospitalsAndExcludedByData",
                data: { name: search, isVerified: 'Approve' },
                success: function success(result) {
                    // let churan = result.hospitals;
                    let resultDisplay = result.items;
                    var tr = '';
                    $("#hospitalTable").html("");
                    $('#pagination').html(result.paginationHtml);
                    resultDisplay.forEach((i, index) => {
                        const excludedByTPAsExists = (i.excludedByTPAs && i.excludedByTPAs.length > 0) ||
                            (i.excludedByInsuranceCompanies && i.excludedByInsuranceCompanies.length > 0);
                        const clickHandler = excludedByTPAsExists ? `onclick="fetchExcludedByTPAsInsuranceCompanies('${i._id}')"` : '';
                        const excludedText = excludedByTPAsExists ? "Yes" : "No";
                        // Conditionally add modal attributes
                        const modalAttributes = excludedByTPAsExists ? `data-bs-toggle="modal" data-bs-target="#staticBackdrop"` : '';

                        $("#hospitalTable").append(`
                    <tr>
                        <th scope="row"> ${index + 1} </th>
                        <td> ${i.name} </td>
                        <td> ${i.contactNumber} </td>
                        <td> ${i.email} </td>
                        <td> ${i.address} </td>
                        <td> ${i.pincode} </td>
                        <td> ${i.district} </td>
                        <td> ${i.state} </td>
                        <td ${modalAttributes} ${clickHandler}> ${excludedText} </td>
                    </tr>
                `)
                    });
                },
                error: function error(error) {
                    console.log(error, 'error');
                }
            })
        }

        function fetchExcludedByTPAsInsuranceCompanies(id) {
            $.ajax({
                type: "GET",
                url: `/api/welcome/excludedByInsuranceAndTPA/${id}`,
                success: function success(result) {
                    const name = result.hospitalName;
                    let excludedByInsuranceCompanies = result.excludedByInsuranceCompanies.slice(0, 5);
                    let excludedByTPAs = result.excludedByTPAs.slice(0, 5);
                    $("#staticBackdropLabel").text(name);
                    // Populate excluded insurance companies
                    $('#insurance-list').html("<li> Excluded by Insurance company </li>");
                    excludedByInsuranceCompanies.forEach(function (company) {
                        $('#insurance-list').append(`<li>${company.name}</li>`);
                    });

                    // Populate excluded TPAs
                    $('#tpa-list').html(`<li> Excluded by TPA </li>`);
                    excludedByTPAs.forEach(function (tpa) {
                        $('#tpa-list').append(`<li>${tpa.name}</li>`);
                    });
                },
                error: function error(error) {
                    console.log(error, 'error');
                }
            })
        }

        function fetchAllHospitalsNameId() {
            $.ajax({
                type: "GET",
                url: `/api/welcome/getAllHospitalsNameId`,
                success: function success(result) {
                    const hospitals = result.hospitals;
                    // Clear existing options in the dropdowns
                    // $('#ExcludedInsuranceCompany').empty().append('<option selected>Ex. Insurance Company</option>');

                    // Populate Excluded InsuranceCompanies Dropdown
                    hospitals.forEach(function (hospital) {
                        $('#ExcludeHospitalbyTPA').append(`<option value="${hospital._id}">${hospital.name}</option>`);
                        $('#ExcludeHospitalbyInsuranceCompany').append(`<option value="${hospital._id}">${hospital.name}</option>`);
                    });
                },
                error: function error(error) {
                    console.log(error, 'error');
                }
            })
        }

        function fetchTPANamesData() {
            $.ajax({
                type: "GET",
                url: `/api/welcome/getAllTPANamesIds`,
                success: function success(result) {
                    const tpaNameNames = result.tpaNameNames;
                    // Clear existing options in the dropdowns
                    $('#tpaName').empty();

                    // Populate TPA Name Dropdown
                    tpaNameNames.forEach(function (tpaNameName) {
                        $('#tpaName').append(`<option value="${tpaNameName._id}">${tpaNameName.name}</option>`);
                    });
                },
                error: function error(error) {
                    console.log(error, 'error');
                }
            })
        };

        function fetchInsuranceCompanyNamesData() {
            $.ajax({
                type: "GET",
                url: `/api/welcome/getAllInsuranceCompanyNamesIds`,
                success: function success(result) {
                    const insuranceCompanyNames = result.insuranceCompanyNames;
                    // Clear existing options in the dropdowns
                    $('#insuranceCompanyName').empty();

                    // Populate InsuranceCompanies Name Dropdown
                    insuranceCompanyNames.forEach(function (insuranceCompanyName) {
                        $('#insuranceCompanyName').append(`<option value="${insuranceCompanyName._id}">${insuranceCompanyName.name}</option>`);
                    });
                },
                error: function error(error) {
                    console.log(error, 'error');
                }
            })
        }

        // Function to handle login

        function login() {
            // Implement your login logic here
            if (!loginType) return window.alert('Please select a Login type');
            console.log(`Attempting to login as: ${loginType}`);

            const email = $('#loginUserId').val();
            const password = $('#loginPassword').val();
            const captcha = $('#captchaInput').val();

            // captha functionality goes here
            // ------------------------------

            const data = { email, password };

            if (!email || !password || !captcha) return window.alert('Please fill all the input fields');
            // Perform your login logic (e.g., AJAX call)
            console.log(`User ID: ${email}, Password: ${password}, Captcha: ${captcha}`);

            $.ajax({
                type: "POST",
                url: `/api/${loginType}/sign-in`,
                dataType: 'JSON',
                data: data,
                success: function success(result) {
                    console.log('result', result);
                    window.alert('Sign in success');
                    if (loginType == "insuranceCompany") window.location.href = "/insurance-company/dashboard"
                    else window.location.href = "/tpa/dashboard"
                },
                error: function error(error) {
                    console.log(error, 'error');
                    window.alert(`${error.responseJSON.message}`);
                }
            })

            // Example: Clear the modal after logging in
            $('#loginModal').modal('hide');
        }

    </script>
</body>

</html>